<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huisou.mapper.SaleRemindSetPoMapper">
  <resultMap id="BaseResultMap" type="com.huisou.po.SaleRemindSetPo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="saleremindid" jdbcType="INTEGER" property="saleremindid" />
    <result column="saleid" jdbcType="INTEGER" property="saleid" />
    <result column="salename" jdbcType="VARCHAR" property="salename" />
    <result column="salebusicode" jdbcType="INTEGER" property="salebusicode" />
    <result column="saleremindtimespan" jdbcType="INTEGER" property="saleremindtimespan" />
    <result column="createby" jdbcType="INTEGER" property="createby" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="updateby" jdbcType="INTEGER" property="updateby" />
    <result column="updatedate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="standby1" jdbcType="VARCHAR" property="standby1" />
    <result column="standby2" jdbcType="VARCHAR" property="standby2" />
  </resultMap>
</mapper>